In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r"C:\Users\DELL\Desktop\Sipalaya Data Science\datas\movies.csv")
df

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,Chinatown,1974,130,Drama,8.1,Roman Polanski,Jack Nicholson,294230,29000000.0,92.0
1,The Girl with the Dragon Tattoo,2011,158,Crime,7.8,David Fincher,Daniel Craig,423010,102515793.0,71.0
2,Nueve reinas,2000,114,Crime,7.9,Fabián Bielinsky,Ricardo Darín,49721,1221261.0,80.0
3,Close Encounters of the Third Kind,1977,138,Drama,7.6,Steven Spielberg,Richard Dreyfuss,184966,132088635.0,90.0
4,Joker,2019,122,Crime,8.5,Todd Phillips,Joaquin Phoenix,939252,335451311.0,59.0
...,...,...,...,...,...,...,...,...,...,...
295,Kumonosu-jô,1957,110,Drama,8.1,Akira Kurosawa,Toshirô Mifune,46678,612604239.0,NaN
296,Falling Down,1993,113,Action,7.6,Joel Schumacher,Michael Douglas,171640,40903593.0,56.0
297,The Royal Tenenbaums,2001,110,Comedy,7.6,Wes Anderson,Gene Hackman,266842,52364010.0,76.0
298,Midnight Cowboy,1969,113,Drama,7.8,John Schlesinger,Dustin Hoffman,101124,44785053.0,79.0
299,Kai po che!,2013,130,Drama,7.7,Abhishek Kapoor,Amit Sadh,32628,1122527.0,40.0

### 1.Find the most common star(actor) in the dataset.

In [5]:
df['Star1'].value_counts()

Star1
Johnny Depp          6
Humphrey Bogart      5
Christian Bale       5
Leonardo DiCaprio    5
Al Pacino            4
                    ..
Marlon Brando        1
Seung-Yun Lee        1
Michael Douglas      1
Gene Hackman         1
Amit Sadh            1
Name: count, Length: 238, dtype: int64

In [6]:
df['Star1'].value_counts().idxmax()

'Johnny Depp'

### 2.List all movies that have both an IMDB rating greater than 7 and a metascore greater than 70.

In [7]:
df[(df['IMDB_Rating']>7) & (df['Metascore']>70)]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,Chinatown,1974,130,Drama,8.1,Roman Polanski,Jack Nicholson,294230,29000000.0,92.0
1,The Girl with the Dragon Tattoo,2011,158,Crime,7.8,David Fincher,Daniel Craig,423010,102515793.0,71.0
2,Nueve reinas,2000,114,Crime,7.9,Fabián Bielinsky,Ricardo Darín,49721,1221261.0,80.0
3,Close Encounters of the Third Kind,1977,138,Drama,7.6,Steven Spielberg,Richard Dreyfuss,184966,132088635.0,90.0
6,Edge of Tomorrow,2014,113,Action,7.9,Doug Liman,Tom Cruise,600004,100206256.0,71.0
...,...,...,...,...,...,...,...,...,...,...
292,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
293,Road to Perdition,2002,117,Crime,7.7,Sam Mendes,Tom Hanks,246840,104454762.0,72.0
294,Bin-jip,2004,88,Crime,8.0,Ki-duk Kim,Seung-Yun Lee,50610,238507.0,72.0
297,The Royal Tenenbaums,2001,110,Comedy,7.6,Wes Anderson,Gene Hackman,266842,52364010.0,76.0
298,Midnight Cowboy,1969,113,Drama,7.8,John Schlesinger,Dustin Hoffman,101124,44785053.0,79.0

### 3.Find all movies directed by a specific director.

In [10]:
df[df['Director']=='Steven Spielberg']

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
3,Close Encounters of the Third Kind,1977,138,Drama,7.6,Steven Spielberg,Richard Dreyfuss,184966,132088635.0,90.0
121,Catch Me If You Can,2002,141,Biography,8.1,Steven Spielberg,Leonardo DiCaprio,832846,164615351.0,75.0

### 4. Get the average gross revenue per genre.

In [20]:
df.groupby('Genre')['Gross'].mean()

Genre
Action       1.842691e+08
Adventure    1.034306e+08
Animation    1.832695e+08
Biography    1.182193e+08
Comedy       7.305349e+07
Crime        8.424648e+07
Drama        1.013609e+08
Fantasy      3.375747e+08
Film-Noir    4.491910e+05
Horror       2.930818e+07
Mystery      1.437833e+07
Western      5.321508e+06
Name: Gross, dtype: float64

### 5.Find the top 10 highest grossing movies.

In [22]:
df['Gross'].value_counts().head(10)

Gross
1122527.0      1
29000000.0     1
102515793.0    1
1221261.0      1
132088635.0    1
335451311.0    1
213351844.0    1
100206256.0    1
26400640.0     1
574305769.0    1
Name: count, dtype: int64

### 6.Get the average IMDB rating of all movies in the dataset.

In [23]:
df['IMDB_Rating'].mean()

np.float64(7.963333333333333)

In [25]:
float(df['IMDB_Rating'].mean())

7.963333333333333

### 7.Get movies released after 2010.

In [28]:
df[df['Released_Year']>2010]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
1,The Girl with the Dragon Tattoo,2011,158,Crime,7.8,David Fincher,Daniel Craig,423010,102515793.0,71.0
4,Joker,2019,122,Crime,8.5,Todd Phillips,Joaquin Phoenix,939252,335451311.0,59.0
6,Edge of Tomorrow,2014,113,Action,7.9,Doug Liman,Tom Cruise,600004,100206256.0,71.0
8,Pride,2014,119,Biography,7.8,Matthew Warchus,Bill Nighy,51841,574305769.0,79.0
16,Kingsman: The Secret Service,2014,129,Action,7.7,Matthew Vaughn,Colin Firth,590440,128261724.0,60.0
...,...,...,...,...,...,...,...,...,...,...
280,Hamilton,2020,160,Biography,8.6,Thomas Kail,Lin-Manuel Miranda,55291,440984783.0,90.0
281,Only the Brave,2017,134,Action,7.6,Joseph Kosinski,Josh Brolin,58371,18340051.0,72.0
286,Once Upon a Time... in Hollywood,2019,161,Comedy,7.6,Quentin Tarantino,Leonardo DiCaprio,551309,142502728.0,83.0
291,Deadpool 2,2018,119,Action,7.7,David Leitch,Ryan Reynolds,478586,324591735.0,66.0
299,Kai po che!,2013,130,Drama,7.7,Abhishek Kapoor,Amit Sadh,32628,1122527.0,40.0

### 8.Get a list of unique genres in the dataset.

In [30]:
list(df['Genre'].unique())

['Drama',
 'Crime',
 'Action',
 'Biography',
 'Comedy',
 'Adventure',
 'Film-Noir',
 'Animation',
 'Horror',
 'Mystery',
 'Fantasy',
 'Western']

### 9.Get the number of movies in the dataset.

In [31]:
len(df['Series_Title'])

300

### 10.Display the movies from the index position 100 to 200 using iloc methods.

In [32]:
df.iloc[100:201]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
100,Avatar,2009,162,Action,7.8,James Cameron,Sam Worthington,1118998,760507625.0,83.0
101,A Beautiful Mind,2001,135,Biography,8.2,Ron Howard,Russell Crowe,848920,170742341.0,72.0
102,The Last of the Mohicans,1992,112,Action,7.7,Michael Mann,Daniel Day-Lewis,150409,75505856.0,76.0
103,Dog Day Afternoon,1975,125,Biography,8.0,Sidney Lumet,Al Pacino,235652,50000000.0,86.0
104,Terminator 2: Judgment Day,1991,137,Action,8.5,James Cameron,Arnold Schwarzenegger,995506,204843350.0,75.0
...,...,...,...,...,...,...,...,...,...,...
196,Delicatessen,1991,99,Comedy,7.6,Marc Caro,Jean-Pierre Jeunet,80487,1794187.0,66.0
197,Kurenai no buta,1992,94,Animation,7.7,Hayao Miyazaki,Shûichirô Moriyama,77798,871544815.0,83.0
198,La vie d'Adèle,2013,180,Drama,7.7,Abdellatif Kechiche,Léa Seydoux,138741,2199675.0,89.0
199,Loving Vincent,2017,94,Animation,7.8,Dorota Kobiela,Hugh Welchman,50778,6735118.0,62.0
200,Casino Royale,2006,144,Action,8.0,Martin Campbell,Daniel Craig,582239,167445960.0,80.0

### 11.Find the average gross for movies directed by a specific director,with an IMDB rating above 7.

In [36]:
float(df[(df['Director']=='Christopher Nolan') & (df['IMDB_Rating']>7)]['Gross'].mean())

345362478.0

### 12.Find the oldest movie in terms of release year with an IMDB rating greater than 8.

In [38]:
df[(df['IMDB_Rating']>8)].sort_values('Released_Year').head(1)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
115,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN

### 13.Get the correlation between gross and metascore in the dataset.

In [41]:
gross = df['Gross']
metascore = df['Metascore']
float(gross.corr(metascore))

0.04785956965625054

### 14.Find the top 5 stars who have appeared in the most movies.

In [43]:
df['Star1'].value_counts().head()

Star1
Johnny Depp          6
Humphrey Bogart      5
Christian Bale       5
Leonardo DiCaprio    5
Al Pacino            4
Name: count, dtype: int64

### 15.Get the average gross for movies with different genres, but only for movies with IMDB ratings greater than 7.

In [49]:
fdf=df[df['IMDB_Rating']>7]
fdf

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,Chinatown,1974,130,Drama,8.1,Roman Polanski,Jack Nicholson,294230,29000000.0,92.0
1,The Girl with the Dragon Tattoo,2011,158,Crime,7.8,David Fincher,Daniel Craig,423010,102515793.0,71.0
2,Nueve reinas,2000,114,Crime,7.9,Fabián Bielinsky,Ricardo Darín,49721,1221261.0,80.0
3,Close Encounters of the Third Kind,1977,138,Drama,7.6,Steven Spielberg,Richard Dreyfuss,184966,132088635.0,90.0
4,Joker,2019,122,Crime,8.5,Todd Phillips,Joaquin Phoenix,939252,335451311.0,59.0
...,...,...,...,...,...,...,...,...,...,...
295,Kumonosu-jô,1957,110,Drama,8.1,Akira Kurosawa,Toshirô Mifune,46678,612604239.0,NaN
296,Falling Down,1993,113,Action,7.6,Joel Schumacher,Michael Douglas,171640,40903593.0,56.0
297,The Royal Tenenbaums,2001,110,Comedy,7.6,Wes Anderson,Gene Hackman,266842,52364010.0,76.0
298,Midnight Cowboy,1969,113,Drama,7.8,John Schlesinger,Dustin Hoffman,101124,44785053.0,79.0
299,Kai po che!,2013,130,Drama,7.7,Abhishek Kapoor,Amit Sadh,32628,1122527.0,40.0

In [52]:
avg_gross=fdf.groupby('Genre')['Gross'].mean()
print(avg_gross)

Genre
Action       1.842691e+08
Adventure    1.034306e+08
Animation    1.832695e+08
Biography    1.182193e+08
Comedy       7.305349e+07
Crime        8.424648e+07
Drama        1.013609e+08
Fantasy      3.375747e+08
Film-Noir    4.491910e+05
Horror       2.930818e+07
Mystery      1.437833e+07
Western      5.321508e+06
Name: Gross, dtype: float64

### 16.Find all movies with a metascore higher tham 90 and released after 2015.

In [53]:
df[(df['Metascore']>90) & (df['Released_Year']>2015)]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
55,La La Land,2016,128,Comedy,8.0,Damien Chazelle,Ryan Gosling,505918,151101803.0,94.0
91,Manbiki kazoku,2018,121,Crime,7.9,Hirokazu Koreeda,Lily Franky,62754,3313513.0,93.0
136,Roma,2018,135,Drama,7.7,Alfonso Cuarón,Yalitza Aparicio,140375,557873261.0,96.0
278,Marriage Story,2019,137,Comedy,7.9,Noah Baumbach,Adam Driver,246644,2000000.0,94.0

### 17.Get the number of movies with an IMDB rating greater than 8 for each genre.

In [54]:
fil_df=df[df['IMDB_Rating']>8]

In [57]:
movie_count=fil_df.groupby('Genre')['IMDB_Rating'].count()
print(movie_count)

Genre
Action       15
Adventure     5
Animation    10
Biography    10
Comedy        9
Crime        21
Drama        31
Fantasy       1
Film-Noir     1
Western       1
Name: IMDB_Rating, dtype: int64

### 18.Find the highest grossing movie for each year.

In [59]:
highest_grossing_movies = df.loc[df.groupby('Released_Year')['Gross'].idxmax()]

print(highest_grossing_movies[['Released_Year', 'Series_Title', 'Gross']])

     Released_Year                       Series_Title        Gross
115           1920       Das Cabinet des Dr. Caligari  337574718.0
148           1928                         The Circus  259701815.0
122           1931  M - Eine Stadt sucht einen Mörder      28877.0
80            1932  Scarface: The Shame of the Nation   82900837.0
132           1934                       The Thin Man   40687532.0
..             ...                                ...          ...
20            2016                          Rogue One  532177324.0
51            2017                     Thor: Ragnarok  315058289.0
150           2018                              Raazi  896910257.0
251           2019                  Avengers: Endgame  858373000.0
280           2020                           Hamilton  440984783.0

[81 rows x 3 columns]

### 19.Get the average IMDB rating for each director.

In [60]:
avg_rating=df.groupby('Director')['IMDB_Rating'].mean()
print(avg_rating)

Director
Aamir Khan             8.40
Abdellatif Kechiche    7.70
Abhishek Kapoor        7.70
Adam McKay             7.80
Aditya Dhar            8.20
                       ...
Yash Chopra            7.80
Yasujirô Ozu           8.20
Yimou Zhang            8.10
Yoshiaki Kawajiri      7.70
Zoya Akhtar            8.05
Name: IMDB_Rating, Length: 222, dtype: float64